<!DOCTYPE html>
<html>
    <head>
        <title>Form Input</title>
    </head>
    <body>
        <center>
            <h1>Form Input Example:</h1>
            <br>
            <table>
                <form action="signup" method="POST">
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name"/></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" name="Address"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="Submit"/></td>
                    </tr>
            </table>
        </center>
    </body>
</html>